.banner {
  background-color: #00a2d6;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

.button-row {
  display: inline-block;
  width: 150px;
  height: 75px;
  margin: 10px;
  border: 3px solid #73AD21;
}

.results-banner {
  background-color: #00a2d6;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
